@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

main {
overflow-y: scroll;
background: none;

}

section.Leistung
{
	
    margin-top:2px;
    width:600px;
    margin-left:auto;
    margin-right:auto;
    margin-right:auto;
}

header.headerLeistung
{
    height:auto;
    text-align: center;
}


div.LeistungText
{
font-family: 'Open Sans', sans-serif;
font-weight:300;
float: both; 
text-align: left;
hyphens: auto;
}

@media screen and (max-width: 768px) 
{	
	section.Leistung
{
	
    width:90vw;
}

}